name: Doppler CI Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Pull Doppler Secrets
        uses: dopplerhq/cli-action@v1
        with:
          doppler-token: ${{ secrets.DOPPLER_TOKEN }}

      - name: Test secret presence
        run: |
          if [ -z "$TEST_API_KEY" ]; then
            echo "SECRET MISSING" && exit 1
          else 
            echo "SECRET PRESENT"
          fi
